<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <!-- Decidir si darle un style a las imagenes o que tenga que subir imagenes renderizadas(lo que haria alguien en diseño) -->
        <!-- <div class="carousel-item active">
            <img src="https://http2.mlstatic.com/D_NQ_NP_740920-MLA50947337044_072022-O.webp" class="d-block" alt="..."
                style="height: 400px; width: 100%;">
        </div> -->
        <div class="carousel-item active">
            <img src="https://http2.mlstatic.com/D_NQ_957124-MLA71671329914_092023-OO.webp" class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://http2.mlstatic.com/D_NQ_804849-MLA71725008015_092023-OO.webp" class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://http2.mlstatic.com/D_NQ_868593-MLA71208520890_082023-OO.webp" class="d-block w-100"
                alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>