<footer>
    <div class="footer pt-3">
        <div class="container"> 
            <div class="footer-content" [ngClass]="{'dark-mode': isDarkTheme }">
                <a [routerLink]="['/']">Trabaja con nosotros</a>
                <a class="ps-3" [routerLink]="['/']">Terminos y condiciones</a>
                <a class="ps-3" [routerLink]="['/']">Como cuidamos tu privacidad</a>
                <a class="ps-3" [routerLink]="['/']">Accesibilidad</a>
                <a class="ps-3" [routerLink]="['/']">Información al usuario financiero</a>
                <a class="ps-3" [routerLink]="['/']">Ayuda</a>
                <a class="ps-3" [routerLink]="['/']">Defensa del Consumidor</a>
                <a class="ps-3" [routerLink]="['/']">Información sobre seguros</a>
            </div>
            <div class="footer-copyright pt-2 pb-2">
                <p>Copyright © 2023 Mercado Liebre <br>
                    Adolfo Gonzales Chaves - Argentina
                </p>
            </div>
        </div>
    </div>
</footer>