<!-- <nav class="navbar navbar-expand-lg justify-content-center">

    <div class="grid-template">
        <div class="nav-left-area">
            <a class="navbar-brand" [routerLink]="['/']">Logo Mercado Liebre</a>
        </div>

        <div class="nav-center-area ps-5">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="nav-right-area ps-5">
            <p>Logo de algo</p>
        </div>
        <div class="nav-left-bottom-area">
            <p>Enviar a "Nombre": </p>
        </div>
        <div class="nav-center-bottom-area ps-5">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [routerLink]="['/']" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categorias
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/']">Action</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/']">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/']">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Ayuda</a>
                </li>
            </ul>
        </div>
        <div class="nav-right-bottom-area">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [routerLink]="['/']" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/']">Action</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/']">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/']">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']">Mis compras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Carrito</a>
                </li>
            </ul>

        </div>

    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav> -->

<nav class="navbar navbar-expand-lg" [ngClass]="{'light-mode-nav': isLightTheme, 'dark-mode-nav': !isLightTheme}">
    <div class="container">
        <div class="row">
            <div class="col-md-2 d-flex">
                <a class="navbar-brand" [routerLink]="['/']"><img id="logo"
                        [src]="isLightTheme ? './favicon.ico' : './assets/favicon_light.ico'" alt="Logo">
                </a>
                <a class="nav-link" [routerLink]="['/']">Mercado <br>
                    Liebre</a>
            </div>
            <div class="col-xl-6 col-lg-5 ps-5 navbar-hidden">
                <form class="d-flex search" role="search">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar Productos, marcas y más..." aria-label="Search">
                        <button type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-xl-4 col-lg-4 publicity navbar-hidden">
                <img src="./assets/disney_publicity.png" alt="" width="100%">
            </div>
            <div class="col-2 navbar-hidden">
                <div class="row" [ngClass]="{'ubication': isLightTheme, 'ubication-dark-mode': !isLightTheme}"
                    *ngIf="localStorage.getItem('User')">
                    <div class="col-1">
                        <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="col send">
                        <div>

                            <a type="button" data-bs-toggle="modal" data-bs-target="#userAddress" *ngIf="userAddresses.length > 0; else addressNotRegistered">
                                <small id="name">Enviar a : {{ userName }}
                                </small>
                                <br>
                                <small id="adress">Direccion: {{ showPrincipalAddress() }}</small>
                            </a>
                            <ng-template #addressNotRegistered>
                                <a type="button" data-bs-toggle="modal" data-bs-target="#userAddress">
                                    <small id="name">Registre una direccion
                                    </small>
                                    <br>
                                    <small id="adress">Para recibir sus envios</small>
                                </a>
                            </ng-template>
                            <div class="modal fade" id="userAddress" tabindex="-1" aria-labelledby="userAddressLabel"
                                aria-hidden="true">
                                <div class="modal-lg modal-dialog  modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header" style="border-bottom: none;">
                                            <h1 class="modal-title fs-3" id="userAddressLabel">Elegí dónde recibir tus
                                                compras</h1>
                                            <p>
                                                Podrás ver costos y tiempos de entrega precisos en todo lo que busques.
                                            </p>

                                        </div>
                                        <div class="modal-body" *ngIf="userAddresses.length > 0 else userWithoutAddress">
                                            <div>
                                                <h2>En una de tus direcciones</h2>
                                                <div class="modal-body-cards">
                                                    <div class="address-card" *ngFor="let address of userAddresses">
                                                        <app-navbar-address-card [address]="address" [userName]="userName" [userLastname]="userLastName"></app-navbar-address-card>
                                                    </div>
                                                    <div class="address-update-btn">
                                                        <div>
                                                            <a [routerLink]="['/address']" data-bs-dismiss="modal">Editar direcciones</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="address-actions-btns d-flex justify-content-end mt-4">
                                                    <div class="address-cancel-btn">
                                                        <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
                                                    </div>
                                                    <div class="address-save-btn">
                                                        <button type="button" class="btn btn-primary" (click)="saveAddress()">Guardar Cambios</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #userWithoutAddress>
                                            <div class="modal-body">
                                                <div>
                                                    <div class="address-actions-btns d-flex justify-content-end mt-4">
                                                        <div class="address-cancel-btn">
                                                            <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
                                                        </div>
                                                        <div class="address-save-btn">
                                                            <button type="button" class="btn btn-primary" [routerLink]="['/address']" data-bs-dismiss="modal">Registrar Direccion</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center ps-5 navbar-hidden">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Categorias
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let category of categories">
                                <a class="dropdown-item" [routerLink]="['/products', category.name]">{{category.name}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/offers']">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/history']" *ngIf="localStorage.getItem('User')">Historial</a>
                        <a class="nav-link" [routerLink]="['/login']" *ngIf="!localStorage.getItem('User')">Historial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/products/category-family', 'Supermercado']">Supermercado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/products/category-family','Moda']">Moda</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/cart']">Carrito</a>
                    </li> -->

                </ul>
            </div>
            <div class="col-4 ps-auto d-flex align-items-center justify-content-center navbar-hidden"
                style="padding: 0;">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown" *ngIf="localStorage.getItem('User'); else notLoggedProfile">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ userName }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" [routerLink]="['/profile']">Mi Perfil</a></li>
                            <li><a class="dropdown-item" (click)="unlogUser()" [routerLink]="['/']">Cerrar sesison</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/purchases']" *ngIf="localStorage.getItem('User')">Mis compras</a>
                        <a class="nav-link" [routerLink]="['/login']" *ngIf="!localStorage.getItem('User')">Mis compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" [routerLink]="['/help']">Ayuda</a>
                    </li>
                    <li class="nav-item">
                        <button title="Carrito" class="btn rounded-fill" [routerLink]="['/cart']" *ngIf="localStorage.getItem('User')">
                            <i class="bi bi-cart2"></i>
                        </button>
                        <button title="Carrito" class="btn rounded-fill" [routerLink]="['/login']" *ngIf="!localStorage.getItem('User')">
                            <i class="bi bi-cart2"></i>
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class="btn rounded-fill" (click)="toggleTheme()">
                            <i class="bi " [ngClass]="isLightTheme ? 'bi-moon-fill' : 'bi-sun-fill'" id="dl-icon"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="toggle-btn" (click)="toggleDropDown()">
            <!-- <i class="bi bi-list" style="height: 30px; width: 30px;"></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div>

        <div class="dropdown_menu"
            [ngClass]="{'': !isHidden, 'hidden': isHidden, 'dark-mode-btn-toggle': !isLightTheme, '': isLightTheme}">
            <li class="nav-item" *ngIf="localStorage.getItem('User'); else notLoggedProfile">
                <a class="nav-link" [routerLink]="['/profile']">{{userName}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorias
                </a>
                <ul class="dropdown-menu">
                    <li *ngFor="let category of categories">
                        <a class="dropdown-item" [routerLink]="['/products', category.name]">{{category.name}}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/offers']">Ofertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/history']" *ngIf="localStorage.getItem('User')">Historial</a>
                <a class="nav-link" [routerLink]="['/login']" *ngIf="!localStorage.getItem('User')">Historial</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" aria-disabled="true"
                    [routerLink]="['/products/category-family', 'supermarket']">Supermercado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-disabled="true"
                    [routerLink]="['/products/category-family', 'fashion']">Moda</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/cart']" *ngIf="localStorage.getItem('User')">Carrito</a>
                <a class="nav-link" [routerLink]="['/login']" *ngIf="!localStorage.getItem('User')">Carrito</a>
            </li>

            <li class="nav-item">
                <button class="btn rounded-fill" (click)="toggleTheme()">
                    <i id="dl-icon" [ngClass]=" isLightTheme ? 'bi bi-moon-fill' : 'bi bi-sun-fill' "></i>
                </button>
            </li>
        </div>
    </div>

</nav>
<ng-template #notLoggedProfile>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
    </li>
</ng-template>
<ng-template #userWithoutAddress>
    <h2>No posees direcciones registradas</h2>
</ng-template>