<div class="cards">
    <div class="product-card pb-4 pt-3" [ngClass]="{'dark-mode': isDarkTheme }">
        <div class="row">
            <div class="col-3 product-card-image">
                <a [routerLink]="['/product', product.name]">
                    <img width="160" height="160"
                        src= {{productImage}}> 
                </a>
            </div>
            <div class="col-9 product-card-content" *ngIf="!product.weeklyOffer; else weeklyOffer">
                <h2>{{product.name}}</h2>
                <p>$ {{product.price | number}}</p>
            </div>

        </div>
    </div>
</div>
<ng-template #weeklyOffer>
    <div class="col-9 product-card-content offer">
      <h2>{{ product.name }}</h2>
      <p>$ {{ productOffer ? (productOffer.total | number): '' }}</p>
      <h3>{{ productOffer ? productOffer.discountPercentage : '' }}% OFF</h3>
    </div>
</ng-template>