<section [ngClass]="{'dark-mode': isDarkTheme }">
    <article>
            <div class="row">
                <div class="col-1 address-btn">
                    <div *ngIf="address.principal; else isNotPrincipal">
                        <input type="radio" name="address" checked>
                    </div>
                    <ng-template #isNotPrincipal>
                        <input type="radio" name="address">
                    </ng-template>
                </div>
                <div class="col address-text">
                    <div>
                        <h1>{{ address.address }} {{ address.addressNumber }}</h1>
                    </div>
                    <div>
                        <span>
                            <span>
                                CP: {{ address.postalCode }} - {{ address.province }} - {{ address.city }}
                            </span>
                            <span class="user-information">
                                {{userName}} {{userLastname}} - {{ address.contactPhone }}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
    </article>
</section>
