<section [ngClass]="{'dark-mode': isDarkTheme }">
    <article>
            <div class="row">
                <div class="col-1 address-btn">
                    <div>
                        <input type="radio" name="address">
                    </div>
                </div>
                <div class="col address-text">
                    <div>
                        <h1>"Calle y numero"</h1>
                    </div>
                    <div>
                        <span>
                            <span>
                                CP: "Codigo" - "Ciudad", "Provincia"
                            </span>
                            <span class="user-information">
                                "Nombre completo" - "Celular"
                            </span>
                        </span>
                    </div>
                </div>
            </div>
    </article>
</section>
