.detail {
    margin-top: 20px;
}

.family-categories::before {
    display: inline-block;
    background-color: rgba(0, 0, 0, .2);
    content: "";
    width: 2px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

.header-navigation {
    font-size: 14px;
}

.header-navigation-category a {
    color: #3483fa;
}

.header-navigation-category-icon {
    color: rgb(102, 102, 102) !important;
}

.card-detail-body {
    border: 1px solid rgb(102, 102, 102, .2);
    margin-top: 10px;
}

.dark-mode {
    background-color: #31393d !important;
}

.dark-mode-header a {
    color: white !important;
}

.dark-mode-header .family-categories::before {
    background-color: rgba(255, 255, 255, 0.8);
}
@media(max-width: 991px) {
    .card-detail-body-sidebar {
        width: 38%;
    }
}
@media(max-width: 767px) {
    .card-detail-body-sidebar {
        width: 45%;
    }
}
@media(max-width: 575px) {
    .card-detail-body-sidebar {
        width: 50%;
    }
}