.card:hover {
    cursor: pointer;
    /* box-shadow: 2px 2px 10px 2px ; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

.card-body {
    border-top: 1px solid #EAEAEA;
}
.dark-mode .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,.1);
}
@media(max-width: 767px) {
    .row .col {
        display: flex;
        justify-content: center;
    }
}