<div class="card hover" style="width: 18rem;" [routerLink]="['/product', product.name]"
    [ngClass]="{'dark-mode': isDarkTheme }">
    <div class="card-img">
        <img src={{productImage}} class="card-img-top"
            height="200px" width="98px">
    </div>
    <div class="card-body" *ngIf="!product.weeklyOffer; else weeklyDeal">
        <div *ngIf="!isInOffer; else offer">
            <div>
                <h5 class="card-title">$ {{ product.price | number }}</h5>
            </div>
            <div class="mb-3" *ngIf="!isInCash">
                <p class="card-text" *ngIf="!hasInterestFreeInstallments; else interestFreeInstallments"><small class="text-body-secondary">Cuotas por precio</small></p>
            </div>
            <div>
                <p class="card-text">{{product.description.substring(0,20)}}</p>
            </div>
            <div *ngIf="redirectedByUserHistory">
                <button (click)="deleteHistory($event)">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #weeklyDeal>
    <div class="card-body">
        <div class="weekly-deal-card mb-3" >
            <div class="weekly-deal-text">
                <span>Oferta Semanal</span>
            </div>
        </div>
        <div *ngIf="!isInOffer; else offer">
            <div>
                <h5 class="card-title">$ {{ product.price | number }}</h5>
            </div>
            <div class="mb-3" *ngIf="!isInCash">
                <p class="card-text" *ngIf="!hasInterestFreeInstallments; else interestFreeInstallments"><small class="text-body-secondary">Cuotas por precio</small></p>
            </div>
            <div>
                <p class="card-text">{{product.description.substring(0,20)}}</p>
            </div>
            <div *ngIf="redirectedByUserHistory">
                <button (click)="deleteHistory($event)">Eliminar</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #offer>
    <div>
        <div class="product-offer d-flex">
            <div>
                <h5 class="card-title">$ {{ productOffer.total | number }}</h5>
            </div>
            <div class="d-flex align-items-center ms-2">
                <h3>{{productOffer.discountPercentage}}% OFF</h3>
            </div>
        </div>
        <div class="mb-3" *ngIf="!isInCash">
            <p class="card-text" *ngIf="!hasInterestFreeInstallments; else interestFreeInstallments"><small class="text-body-secondary">Cuotas por precio</small></p>
        </div>
        <div>
            <p class="card-text">{{ product.description.substring(0,20) }}</p>
        </div>
        <div class="mt-2" *ngIf="redirectedByUserHistory">
            <button (click)="deleteHistory($event)">Eliminar</button>
        </div>
    </div>
</ng-template>

<ng-template #interestFreeInstallments>
    <p class="card-text interestFreeInstallments"><small>Mismo precio en "Cuotas" de "Precio"</small></p>
</ng-template>