<section class="carousel">
    <app-carousel></app-carousel>
</section>
<section>
    <article>
        <div class="container mt-5" *ngIf="isLogged">
            <div>
                <div>
                    <h4>Basado en tu ultima visita</h4>
                </div>
                <div>
                    <div class="row">
                        <div class="col mt-3" *ngFor="let product of productsHistory">
                            <app-product-card></app-product-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container mt-5" *ngIf="isLogged">
            <h4>Relacionado con tus visita en: "Familia de categorias de ultima visita"</h4>
            <div>
                <div class="row">
                    <div class="col mt-3" *ngFor="let product of productsHistory">
                        <app-product-card></app-product-card>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container mt-5">
            <h4>Ofertas</h4>
            <div>
                <div class="row">
                    <div class="col mt-3" *ngFor="let product of productsHistory">
                        <app-product-card></app-product-card>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container mt-5">
            <h4>Las mejores tiendas te esperan</h4>
            <div>
                <div class="row">
                    <div class="col mt-3" *ngFor="let product of productsHistory">
                        <app-product-card></app-product-card>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container mt-5" *ngIf="isLogged">
            <h4>Más vendidos en "La ultima categoria del historial"</h4>
            <div>
                <div class="row">
                    <div class="col mt-3" *ngFor="let product of productsHistory">
                        <app-product-card></app-product-card>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="categories">
        <div class="container mt-5">
            <h4>Categorías populares</h4>
            <app-categories-cards></app-categories-cards>
        </div>
    </article>

</section>