<section class="carousel">
    <app-carousel></app-carousel>
</section>
<section>
    <!-- <article>
        <div class="container mt-5" *ngIf="localStorage.getItem('User') && productBasedInTheLastHistory.length > 0">
            <div>
                <div>
                    <h4>Basado en tu ultima visita</h4>
                </div>
                <div>
                    <div class="row">
                        <div class="col mt-3" *ngFor="let productBased of productBasedInTheLastHistory">
                            <app-product-card [product]="productBased"></app-product-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article> -->
    <article>
        <div class="container mt-5" *ngIf="localStorage.getItem('User')  && productBasedInTheLastHistory.length > 0">
            <h4>Relacionado con tus visita en: <strong>{{ categoryFamilyLatest }}</strong> </h4>
            <div>
                <div class="row">
                    <div class="col mt-3" *ngFor="let product of productBasedInTheLastCategoryFamily">
                        <app-product-card [product]="product"></app-product-card>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container mt-5">
            <h4>Ofertas</h4>
            <div>
                <div class="row">
                    <div class="col mt-3" *ngFor="let productInOffer of productsInWeeklyOffer">
                        <app-product-card [product]="productInOffer"></app-product-card>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container mt-5">
            <h4>Las mejores tiendas te esperan</h4>
            <div>
                <div class="row">
                    <div class="col mt-3" *ngFor="let productInOffer of productsInWeeklyOffer">
                        <app-product-card [product]="productInOffer"></app-product-card>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container mt-5" *ngIf="localStorage.getItem('User')  && productBasedInTheLastHistory.length > 0">
            <h4>Más vendidos en  <strong>{{ categoryLatest }}</strong></h4>
            <div>
                <div class="row">
                    <div class="col mt-3" *ngFor="let product of productBasedInTheLastHistory">
                        <app-product-card [product]="product"></app-product-card>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="categories">
        <div class="container mt-5">
            <h4>Categorías populares</h4>
            <app-categories-cards></app-categories-cards>
        </div>
    </article>

</section>