<section>
    <app-carousel></app-carousel>
</section>
<section>
    <article>
        <div class="container mt-5" *ngIf="isLogged">
            <div>
                <div>
                    <h4>Basado en tu ultima visita</h4>
                </div>
                <div>
                    <app-product-card [products]="productsHistory"></app-product-card>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container mt-5" *ngIf="isLogged">
            <h4>Relacionado con tus visita en: "Familia de categorias de ultima visita"</h4>
            <app-product-card [products]="productsHistory"></app-product-card>
        </div>
    </article>
    <article>
        <div class="container mt-5">
            <h4>Ofertas</h4>
            <app-product-card [products]="productsHistory"></app-product-card>
        </div>
    </article>
    <article>
        <div class="container mt-5">
            <h4>Las mejores tiendas te esperan</h4>
            <app-product-card [products]="productsHistory"></app-product-card>
        </div>
    </article>
    <article>
        <div class="container mt-5" *ngIf="isLogged">
            <h4>Más vendidos en "La ultima categoria del historial"</h4>
            <app-product-card [products]="productsHistory"></app-product-card>
        </div>
    </article>
    <article class="categories">
        <div class="container mt-5">
            <h4>Categorías populares</h4>
            <app-categories-cards></app-categories-cards>
        </div>
    </article>

</section>