<section>
    <div class="container">
        <div class="row pt-5">
            <article class="col-3 categories">
                <app-product-card-by-category-family-sidebar [categoryFamily]="categoryFamilyType" [numberOfCategoryFamily]="productsByCategoryFamily.length"> </app-product-card-by-category-family-sidebar>
            </article>
            <article class="col-8 bg-white products">
                <div *ngFor="let product of productsByCategoryFamily">
                    <app-product-card-by-category-family [product]="product"> </app-product-card-by-category-family>
                </div>
            </article>
        </div>
    </div>
</section>