.gallery-columns-img {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 4px;
    margin-bottom: 10px;
}

.gallery-columns-img-selected {
    cursor: pointer;
    border: 2px solid #3483fa !important;
}

.gallery-columns-img img {
    width: 44px;
    height: 44px;
    padding: 2px;
    object-fit: contain;
}
.gallery-principal-img img {
    object-fit: contain;
}

@media(max-width: 768px) {
    .gallery-principal-img img {
        object-fit: cover;
        height: 350px;
    }

}

@media(max-width: 535px) {
    .gallery-columns-img {
        display: none;
    }
}

@media(max-width: 460px) {
    .gallery-principal-img img {
        height: 300px;
    }
}

@media(max-width: 420px) {
    .gallery-principal-img img {
        height: 250px;
        margin-top: 30px;
    }
}