<section>
        <article>
                <div class="d-flex">
                        <div class="profile-sidebar">
                                <app-user-profile-sidebar></app-user-profile-sidebar>
                        </div>
                        <div class="profile-content">
                                <app-user-profile-content></app-user-profile-content>
                                <!-- <app-user-purchases style="display: none;"></app-user-purchases> -->
                        </div>
                </div>
        </article>
</section>