<section [ngClass]="{'dark-mode': isDarkTheme }">
    <article>
        <div class="container">
            <div class="user-purchases-card">
                <div class="card-date">
                    <div>
                        <p>"Fecha"</p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="">
                        <div class="row">
                            <div class="col-6 d-flex card-content-product">
                                <div class="card-content-image">
                                    <img src="https://www.oscarbarbieri.com/pub/media/catalog/product/cache/7baadf0dec41407c7702efdbff940ecb/e/0/e0eb260282c3e970c2fc3e2321f6104a.jpg"
                                    alt="" width="74px" height="74px">
                                </div>
                                <div class="card-content-information">
                                    <h1>Recibiste la compra</h1>
                                    <h2>"Termotanque Multigas Señorial Family Tts-50 Gris Plata 50l"</h2>
                                </div>
                            </div>
    
                            <div class="col card-content-seller">
                                <div>
                                    <h2>"Nombre vendedor"</h2>
                                </div>
                            </div>
                            <div class="col card-content-btns">
                                <div class="row">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary">Ver compra</button>
                                    </div>
                                    <div class="col-12 btn-repurchase">
                                        <button type="button" class="btn btn-primary">Volver a comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>