/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons';
.light-mode-body {
    background-color: #EBEBEB;
}
body {
    font-family: 'Roboto', Helvetica,Arial,sans-serif;
    /* Propiedades aplicadas para que los modales de boostrap, no remuevan la barra de desplazamiento 
    y generen un vacio en el contendio */
    overflow: auto !important;
    padding-right: 0 !important;
}
a {
    text-decoration: none;
    color: black;
}
/* footer {
    margin-top: 50px;
} */