/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons';
.light-mode-body {
    background-color: #EBEBEB;
}
body {
    font-family: 'Roboto', Helvetica,Arial,sans-serif;
}
a {
    text-decoration: none;
    color: black;
}