<section [ngClass]="{'dark-mode': isDarkTheme }">
    <div class="container">
        <div class="row pt-5">
            <article class="col-3 categories">
                <app-product-card-by-category-sidebar [category]="category" [numberOfCategories]="productsByCategory.length"></app-product-card-by-category-sidebar>
            </article>
            <article class="col-8 bg-white products">
                <div *ngFor="let productByCategory of productsByCategory">
                    <app-product-card-by-category [product]="productByCategory"></app-product-card-by-category>
                </div>
            </article>
        </div>
    </div>
</section>